upstream client {
    server ${CLIENT};
}
upstream client-config {
    server ${CLIENT_CONFIG};
}
upstream importer {
    server ${IMPORTER};
}
upstream data-management {
    server ${DATA_MANAGEMENT};
}
upstream spatial-data-processor {
    server ${SPATIAL_DATA_PROCESSOR};
}
upstream processes-api {
    server ${PROCESSES_API};
}

server {
    listen            ${NGINX_PORT} ssl;
    listen       [::]:${NGINX_PORT} ssl;
    ssl_certificate /etc/ssl/cert.pem;
    ssl_certificate_key /etc/ssl/key.pem;

    client_max_body_size 1G;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Nginx-Proxy true;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;

    proxy_buffer_size          128k;
    proxy_buffers              4 256k;
    proxy_busy_buffers_size    256k;

    location /kommonitor/api {
        auth_request /kommonitor/oauth2/auth;
        error_page 401 = /kommonitor/oauth2/sign_in?rd=$scheme://$host$request_uri;
        
        add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
        add_header Pragma "no-cache";
        add_header Expires "0";
        
        location /kommonitor/api/importer/ {
            add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
            add_header Pragma "no-cache";
            add_header Expires "0";
            proxy_pass http://importer/;
        }
        location /kommonitor/api/client-config/ {
            add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
            add_header Pragma "no-cache";
            add_header Expires "0";
            proxy_pass http://client-config/;
        }
        location /kommonitor/api/datamanagement/ {
            add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
            add_header Pragma "no-cache";
            add_header Expires "0";
            proxy_pass http://data-management/;
        }
        location /kommonitor/api/processor/ {
            add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
            add_header Pragma "no-cache";
            add_header Expires "0";
            proxy_pass http://spatial-data-processor/;
        }
        location /kommonitor/api/processes/ {
            add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
            add_header Pragma "no-cache";
            add_header Expires "0";
            proxy_pass http://processes-api/;
        }
    }

    location /kommonitor/ {
        auth_request /kommonitor/oauth2/auth;
        error_page 401 = /kommonitor/oauth2/sign_in?rd=$scheme://$host$request_uri;
        
        add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
        add_header Pragma "no-cache";
        add_header Expires "0";

        proxy_pass http://client/;
        proxy_set_header X-Auth-Request-Redirect $request_uri;
    }

    location = /kommonitor/oauth2/auth {
        proxy_pass http://oauth2-proxy-kommonitor:4181;

        proxy_pass_request_body off;
        proxy_set_header Content-Length "";
        proxy_set_header X-Original-URL $scheme://$http_host$request_uri;
        proxy_set_header X-Auth-Request-Redirect $request_uri;
    }

    location /kommonitor/oauth2/ {
        proxy_pass http://oauth2-proxy-kommonitor:4181;

        proxy_set_header X-Auth-Request-Redirect $request_uri;
    }

    location = /prefect/oauth2/auth {
        proxy_pass http://oauth2-proxy:4180;

        proxy_set_header Content-Length "";
        proxy_pass_request_body off;
    }

    location /prefect/oauth2/ {
        proxy_pass http://oauth2-proxy:4180;

        proxy_set_header X-Auth-Request-Redirect $request_uri;
    }

    location /prefect/ {
        auth_request /prefect/oauth2/auth;
        error_page 401 = /prefect/oauth2/sign_in?rd=$scheme://$host$request_uri;
        
        add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
        add_header Pragma "no-cache";
        add_header Expires "0";

        proxy_pass http://prefect-server:4200;
    }

}
