version: '3.8'

networks:
  kommonitor:
    name: kommonitor
    driver: bridge

services:
  kommonitor-proxy:
    image: nginx:latest
    container_name: kommonitor-proxy
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./templates/default.conf.template:/etc/nginx/templates/default.conf.template
    environment:
      - NGINX_PORT=80
      - CLIENT=kommonitor-client:80
      - CLIENT_CONFIG=kommonitor-client-config:8088
      - PROCESSING_ENGINE=kommonitor-processing-engine:8086
      - IMPORTER=kommonitor-importer:8087
      - DATA_MANAGEMENT=kommonitor-data-management:8085
      - SPATIAL_DATA_PROCESSOR=kommonitor-spatial-data-processor:8090
      - PROCESSES_API=kommonitor-processes-api:8099
    networks:
      - kommonitor
  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.13.0
    container_name: oauth2-proxy
    environment:
      - OAUTH2_PROXY_PROVIDER=keycloak-oidc
      - OAUTH2_PROXY_CODE_CHALLENGE_METHOD=S256
      - OAUTH2_PROXY_OIDC_ISSUER_URL=http://keycloak:8080/realms/kommonitor

      - OAUTH2_PROXY_CLIENT_ID=prefect-ui
      - OAUTH2_PROXY_CLIENT_SECRET=KJrdXgP8pPtNujZ5rd9RNsoffZxu7aQT
      - OAUTH2_PROXY_COOKIE_SECRET=OANAyLUCWaYffB2g_hdA-WzTEoGuskO6lp1v0mVyulA=
      - OAUTH2_PROXY_COOKIE_SECURE=false

      - OAUTH2_PROXY_REDIRECT_URL=http://localhost/prefect/oauth2/callback
      - OAUTH2_PROXY_PROXY_PREFIX=/prefect/oauth2
      
      - OAUTH2_PROXY_UPSTREAM=http://prefect-server:4200
      - OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180

      - OAUTH2_PROXY_ALLOWED_ROLES=kommonitor-creator
      - OAUTH2_PROXY_EMAIL_DOMAINS=*
      
      - OAUTH2_PROXY_INSECURE_OIDC_SKIP_ISSUER_VERIFICATION=true
      - OAUTH2_PROXY_SKIP_PROVIDER_BUTTON=true

      - OAUTH2_PROXY_LOGGING_LEVEL=debug
      - OAUTH2_PROXY_STANDARD_LOGGING=true
      - OAUTH2_PROXY_AUTH_LOGGING=true
    networks:
      - kommonitor