networks:
  kommonitor:
    name: kommonitor
    driver: bridge

services:
  keycloak:
    image: kommonitor/keycloak:26.4.7-postgres
    container_name: keycloak
    restart: unless-stopped
    volumes:
      - ./realms/realm-export-kommonitor.json:/opt/keycloak/data/import/realm.json
    command:
      - start-dev
      - --import-realm
    expose:
      - 8080
    ports:
      - 8080:8080
    networks:
      - kommonitor
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_DB=dev-file
      - KC_HOSTNAME=http://kommonitor/keycloak
      - KC_PROXY_HEADERS=xforwarded