resolver 127.0.0.11 valid=30s ipv6=off;

server {
    listen            ${NGINX_PORT};
    listen       [::]:${NGINX_PORT};

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Nginx-Proxy true;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;

    location /kommonitor/api {
        location /kommonitor/api/importer/ {
            set $upstream_importer ${IMPORTER};
            rewrite ^/kommonitor/api/importer/(.*) /$1 break;
            proxy_pass http://$upstream_importer;
        }
        location /kommonitor/api/client-config/ {
            set $upstream_client_config ${CLIENT_CONFIG};
            rewrite ^/kommonitor/api/client-config/(.*) /$1 break;
            proxy_pass http://$upstream_client_config;
        }
        location /kommonitor/api/datamanagement/ {
            set $upstream_data_management ${DATA_MANAGEMENT};
            rewrite ^/kommonitor/api/datamanagement/(.*) /$1 break;
            proxy_pass http://$upstream_data_management;
        }
        location /kommonitor/api/processor/ {
            set $upstream_spatial_data_processor ${SPATIAL_DATA_PROCESSOR};
            rewrite ^/kommonitor/api/processor/(.*) /$1 break;
            proxy_pass http://$upstream_spatial_data_processor;
        }
    }

    location /kommonitor/ {
        set $upstream_client ${CLIENT};
        rewrite ^/kommonitor/(.*) /$1 break;
        proxy_pass http://$upstream_client;
    }

    location /keycloak/ {
        set $upstream_keycloak ${KEYCLOAK};
        rewrite ^/keycloak/([^.?]*[^/])/console$ /keycloak/$1/console/ redirect;
        rewrite ^/keycloak/(.*) /$1 break;
        proxy_pass http://$upstream_keycloak;
    }

}
